<section class="wrapper site-min-height">
  <h3><i class="fa fa-angle-right"></i> Creación de factura</h3>

  <div class="container">
    <div class="showback col-md-10">
      <form class="form-horizontal style-form">
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Proveedor</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese el nombre del proveedor">
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
