<section class="wrapper site-min-height">
  <h3><i class="fa fa-angle-right"></i> Administración de Facturas</h3>

  <div class="row">
    <!-- TWITTER PANEL -->
    <div class="col-md-4 col-xs-4 mb">
      <div class="darkblue-panel pn btn-clear-g btn-primary clickable" ng-click="crearFacturaRedirect()">
        <div class="darkblue-header">
          <h5>CREAR FACTURAS</h5>
        </div>
        <h1 class="mt"><i class="fa-file-text-o fa fa-3x fa-2x"></i></h1>


      </div>
      <!-- /darkblue panel -->
    </div>
    <!-- /col-md-4 -->


    <div class="col-md-4 col-xs-4 mb">
      <div class="darkblue-panel pn btn-clear-g btn-primary clickable">
        <div class="darkblue-header">
          <h5>LISTA DE FACTURAS</h5>
        </div>
        <h1 class="mt"><i class="fa fa-list fa-3x"></i></h1>


      </div>
      <!-- /darkblue panel -->
    </div>
    <!-- /col-md-4 -->

    <div class="col-md-4 col-xs-4 mb">
      <div class="darkblue-panel pn btn-clear-g btn-primary clickable">
        <div class="darkblue-header">
          <h5>RESUMEN DE FACTURAS</h5>
        </div>
        <h1 class="mt"><i class="fa fa-bar-chart-o fa-3x"></i></h1>


      </div>
      <!-- /darkblue panel -->
    </div>
    <!-- /col-md-4 -->

  </div>
</section><!--/wrapper -->
